body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  font-family: "coinyregular";
  background-image: url("./pageimg/sunshinebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@font-face {
  font-family: "coinyregular";
  src: url("fonts/coiny-regular-webfont.woff2");
  src: url("fonts/coiny-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/coiny-regular-webfont.woff2") format("woff2"),
    url("fonts/coiny-regular-webfont.woff") format("woff"),
    url("fonts/coiny-regular-webfont.ttf") format("truetype"),
    url("fonts/coiny-regular-webfont.svg#coinyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
::selection {
  color: none;
  background: none;
}

#dollarAmount {
  position: absolute;
  margin-top: 25px;
  left: 395px;
  font-size: 96px;
}

button {
  background-color: rgba(248, 235, 132, 0.964);
  border: 5px solid rgba(255, 0, 0, 0.334);
  border-radius: 8%;
  width: 180px;
  height: 80px;
  font-family: "coinyregular";
  font-size: 18px;
  font-weight: 800;
  padding: -20px -10px;
}

/* BUTTONS */

#cookie-btn {
  cursor: pointer;
}
#btn-shovel {
  cursor: pointer;
  font-size: 19px;
}
#btn-bucket {
  cursor: pointer;
}
#btn-truck {
  cursor: pointer;
}
/* ICONS */
#shovel-icon {
  width: 80px;
  height: 80px;
  margin-top: 8px;
}
#bucket-icon {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}
#truck-icon {
  width: 90px;
  height: 90px;
  margin-top: 8px;
}

/* CONTAINERS */
.cookie-wrapper {
  position: absolute;
  margin-top: 80px;
  margin-left: 550px;
}

.shovel-wrapper {
  text-align: center;
  background-color: rgba(248, 235, 132, 0.493);
  border: 10px solid rgb(228, 127, 127);
  height: 125px;
  width: 125px;
}

.bucket-wrapper {
  text-align: center;
  background-color: rgba(248, 235, 132, 0.493);
  border: 10px solid rgb(228, 127, 127);
  height: 125px;
  width: 125px;
}
.truck-wrapper {
  text-align: center;
  background-color: rgba(248, 235, 132, 0.493);
  border: 10px solid rgb(228, 127, 127);
  height: 125px;
  width: 125px;
}

.cookie-text {
  pointer-events: none;
  position: relative;
  text-align: center;
  top: -300px;
  left: 100px;
  width: 300px;
  height: 65px;
  font-size: 32px;
  border-radius: 50%;
  background-color: rgba(255, 231, 96, 0.544);
}

/* INVENTORY */
.inventory-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1200px;
  margin-top: 30px;
  box-shadow: -5px 20px 50px red;
  height: 150px;
  width: 120px;
}
.inventory-box {
  height: 125px;
  width: 150px;
  background-color: rgba(248, 235, 132, 0.493);
  border: 10px solid rgb(228, 127, 127);
}

@media only screen and (max-width: 1160px) {
  body {
    display: none;
  }
}
